<div class="footer">
    <div class="content">
        <div class="footer-section about">
            <h1 class="logo-text"><span>Node</span>Task</h1>
            <P>
            Site feito em Node JS para treinar Node JS. Além do mais, se tudo der certo, será de grande utilidade para minha pessoa e quem sabe para outras pessoas também =).
            </P>
            <div class="contact">
                <span><img src="../img/telefone.png" width="20px">&nbsp; (11) 95222-6777</span><br>
                <span><img src="../img/envelope.png" width="25px">&nbsp; herodek_10@hotmail.com</span>
            </div>
            <div class="social">
                <a href="https://www.facebook.com/philipe.herodek/" target="_blank"><img class="img-social" src="../img/facebook.png" width="50px"></a>
                <a href="https://www.instagram.com/herodek/" target="_blank"><img class="img-social" src="../img/instagram.png" width="50px"></a>
                <a href="https://twitter.com/Herodek_" target="_blank"><img class="img-social" src="../img/twitter.png" width="50px"></a>
                <a href="https://www.linkedin.com/in/philipe-herodek-neto-75847712b/" target="_blank"><img class="img-social" src="../img/linkedin.png" width="50px"></a>
            </div>
        </div>

        <div class="footer-section links">
            <h2>Links Rápidos</h2>
            <ul>
                <a href="/"><li>Início</li></a>
                <a href="/task"><li>Task</li></a>
                <a href="#"><li>Usuários</li></a>
                <a href="#"><li>Sobre</li></a>
            </ul>
        </div>

        <div class="footer-section contact-form">
            <h2>Nos contate</h2>
            <!-- Verificar o envio de emails por Node =) !-->
            <form method="POST">
                <div class="form-group">
                    <label class="label" for="email">Email:</label><br>
                        <input type="email" name="email" class="contact-input" placeholder="Digite seu e-mail...">
                </div>
                <div class="form-group">
                    <label class="label" for="textoemail">Digite a mensagem:</label>
                    <textarea class="contact-input" name="textoemail" id="textoemail" placeholder="Digite a mensagem do e-mail..."></textarea>
                    <button class="enviar btn btn-info mt-2"><img src="../img/envelope.png" width="15px">Enviar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; nodetask.com | Designed by Philipe Herodek</p>
    </div>
</div>