<nav class="navbar">
  <ul>
    <li>
      <a href="/"> <i class="nav_img fa fa-home" aria-hidden="true"></i>Home</a>
    </li>
    <li>
     <a href="/task"><i class="nav_img fa fa-tasks" aria-hidden="true"></i>Tasks</a>
    </li>
    <li>
      <a href="/user"><i class="nav_img fa fa-user" aria-hidden="true"></i>Usuário</a>
    </li>
    <li>
      <a href="/about"></a:><i class="nav_img fa fa-info" aria-hidden="true"></i>Sobre</a>
    </li>
    <li>
      <a class="nav_logo" href="/"><i class="nav_logo fas fa-thumbtack"></i> NodeTask</a>
    </li>
    {{#if user}}
    <li>
      <span class="nav_login">Bem vindo ! <a href="/user/logout"><button class="logout"> <i class="fas fa-sign-out-alt"></i> Logout</button></a></span>
    </li>
    {{else}}
    <div class="nav_login">
      <form method="POST" action="/user/login">
        <label for="login">Usuário</label>
          <input type="text" placeholder="Usuário" name="user" id="login">
      
        <label for="password">Senha</label>
          <input type="password" placeholder="Senha" name="password" id="senha">
        <a href="/../user/register"><button type="button" class="btn_register_nav"><i class="fas fa-user-friends"></i> Registrar</button></a>
        <button type="submit" class="btn-login"><i class="login_img fas fa-sign-in-alt"></i> Entrar</button>
        </form>
        
    </div>
    {{/if}}    
   
  </ul>
</nav>