<div class="newtask">
<form class="newtask"  method="POST" action="/../task/add/new">
    <div class="row">
    <label for="name">*Nome:</label><br>
        <input type="text" id="name" name="name" placeholder="Digite o nome da task..." required>
    </div>
    <div class="row">
    <label for="description">*Descrição:</label><br>
        <textarea id="description" name="description" rows="3" cols="30"placeholder="Digite a descrição ..."></textarea>
    </div>
    <div class="row">
    <label for="endDate">Prazo final:</label><br>
        <input type="date" id="endDate" name="endDate" min="{{#date_Format}}{{minDate}}{{/date_Format}}"> <input type="time" id="endHour" name="endDate">
    </div>
    <div class="row">
    <label for="done">Finalizado ?</label><br>
        <input type="radio" id="done" name="done" value="true">
                <label for="done">Sim</label>
                <input type="radio" id="done" name="done" value="false">
                <label for="done">Não</label>
    </div>
    <div class="row">
    <button class="btn-finishtask" type="submit"><i class="fas fa-plus-square"></i> Adicionar</button>
    </div>
</form>
</div>