<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" href="../css/style.css">
        <!-- Font Style !-->
        <link rel="stylesheet" href="../css/all.css">
        <!-- Fonte !-->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet"> 
        <title>Node Task</title>
    </head>
    <body>
        {{>_navbar}}
        <div class="body">
        {{{body}}}
        </div>
    </body>
    <footer>
    {{>_footer}}
    <script src="../js/brands.js"></script>
    <script src="../js/solid.js"></script>
    <script src="../js/fontawesome.js"></script>
    </footer>
</html>