<div class="home">

        
    
        <center>
        {{#each countuser}}
        <div class="countuser">
                <i class="fa fa-address-book fa-5x" aria-hidden="true"></i><br>
                <span>Total de usuários cadastrados: {{count}}</span>
        </div>
        <br>
        {{/each}}
        {{#each counttodo}}
        <div class="counttodo">
                <i class="fa fa-list-ul fa-5x" aria-hidden="true"></i><br>
                <span>Total de tasks To Do: {{count}}</span>
        </div>
        <br>
        {{/each}}
        {{#each countdone}}
        <div class="countdone">
               <i class="fa fa-check-square fa-5x" aria-hidden="true"></i><br>
                <span>Total de tasks Done: {{count}}</span>
        </div>
        <br>
        {{/each}}
        </center>
</div>