:root{
    font-size: 16px;
    font-family: 'Montserrat',Impact, fantasy, sans-serif;
    --text-primary:darkgray;
    --text-seconday:#ececec;
    --bg-primary:darkcyan;
    --bg-secondary:#141418;
}

a {
    text-decoration: none;
    color: white;}

a:visited {
     text-decoration: none;
    }

textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

body{
    margin: 0;
    height: 100%;
    font-family: 'Montserrat',Impact, fantasy, sans-serif;
    margin-bottom: 400px;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background:#1e1e24;
}

body::-webkit-scrollbar-thumb{
    background: #6649B8;
}

.w33{
    width: 33%;
}

.w50{
    width: 50%;
}

.w100{
    width: 100%;
}

.clear{
    float: none;
}


.body{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;  
}

.navbar{
 width: 100%;
 height: 50px;
 margin: 0;
 background-color: var(--bg-primary); 
}

.navbar ul{
    padding-top: 20px;
    margin-top: 0;
}

.navbar li{
    display: inline;
    color:white;
    padding-left: 50px;
}

.nav_img{
    padding-right: 8px;
}

.nav_logo{
    position: static;
    text-align: center;
    padding-left: 135px;
    align-items: center;

}

.nav_login{
    float: right;
    display: inline;
    color:white;
    padding-right: 3px;
    margin-right: 5px;
}

.btn_register_nav{
    display: inline;
    margin:auto;
    border: none;
    border-radius: 8%;
    font-weight: bold;
    background: gray;
    padding: 4px;
    margin-left: 15px;
}

.btn_register_nav:hover{
    background-color: white;
    cursor: pointer;
}

.register{
    float: right;
    margin-right: 15px;
}

.btn-login{
    border: none;
    border-radius: 8%;
    font-weight: bold;
    background: gray;
    padding: 4px;
    float: right;
    margin-left: 15px;
    margin-top: 0px;
}

.btn-login:hover{
    background:white;
    color: black;
    border: 1px black;
    cursor: pointer;
}

.login_img{
    padding-right: 4px;
}


.footer{
    position: absolute;
    margin-bottom: 0;
    width: 100%;
}

.content{
    background-color: #efefef;
}

.about{
    text-align: center;
}

.links{
    text-align: center;
}

.contact-form{
    text-align: initial;
}

.form-group{
    margin: 15px;
}

.label{
    margin-bottom: 10px;
    padding-bottom: 15px;
    font-size: bold;
}   

footer .content{
    background-color: lightblue;
    color: black;
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    font-size: bold;
}

.footer-section{
    flex: 1;
    border:1px solid white;
    padding: 25px;
    font-weight: bold;
}

.footer-bottom{
    position: static;
    background-color: darkcyan;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    left: 0px;
    width: 100%;
}

.footer-bottom p{
    text-align:center;
    padding: 8PX;
    font-weight: bold;
}

.social .img-social{
    width: 50px;
}

.social .img-social:hover{
    border: 1px white solid;
    cursor: pointer;
}

.links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: black;
}

.links ul a:hover{
    color: white;
    margin-left: 15px;
    transition: all .3s;
}

.contact-form .contact-input{
    padding-left: 15px;
    padding: 8px;
    width: 90%;
    background: gray;
    color: black;
    border:none;
    font-weight: bold;
    border-radius: 3%;
}

.contact-form .contact-input:hover{
    background: white;
}

.footer-section .enviar{
    background: grey;
    padding: 5px;
    float: right;
    border: 1px;
    margin-top: 5px;
    margin-right: 2.5rem;
    font-weight: bold;
}

.footer-section .enviar:hover{
    background-color: white;
    cursor: pointer;
}
.footer-section img{
    width: 25px;
    padding-right:3px;
}

.user-register{
    color: blue;
    font-size: 1.6rem;
}

.login{
    margin: auto;
    align-content: center;
}

.login_form{
    align-items: center;
    text-align: center;
    font-size: 25px;
    padding: 15px;
    height: 150px;
    width: 150px;
    position: block;
    margin: auto;
    margin-bottom: 15px;
}

.img_login_top{
    display: block;
    margin: auto;
    width: 56px;
    align-items: center;
}

.btn_login{
    border: none;
    border-radius: 8%;
    font-weight: bold;
    background: gray;
    padding: 6px;
    margin:auto;
    margin-top: 10px;
}

.login_img{
    padding-left: 1px;
    align-content: center;
    padding-right: 0;
    margin: 0;
    padding-bottom: 0;
}

.success_msg{
    margin: 15px;
    padding: 8px;
    border: green 2px solid;
    background-color: lawngreen;
    font-size: 2rem;
    color: lightslategray;
}

.error_msg{
    margin: 15px;
    padding: 8px;
    border: lightcoral 2px solid;
    background-color: salmon;
    font-size: 2rem;
    color: darkslateblue;
    margin-bottom: 20px;
}

.error{
        margin: 15px;
        padding: 8px;
        border: lightsalmon 2px solid;
        background-color: salmon;
        font-size: 2rem;
        color: black;
    
}

.register-form{
    border: bisque 1px solid;
    margin: auto;
    margin-left: 20%;
    height: 200px;
    width: 700px;
    display: inline-block;
    padding: 15px;
    margin-bottom: 30px;
}

.row{
    width: 650px;
}

.register-form label{
    padding: 5px;
    margin:5px;
    width: 20%;
}

.register-form input{
    padding: 3px;
    margin: 3px;
}

.btn-register{
    border: 1px black solid;
    background: cadetblue;
    padding: 5px;
    color: cornsilk;
    margin-left: 20px;
}

.btn-register:hover{
    background: darkgray;
    color: black;
    cursor: pointer;
}

.register-form input:hover{
    background: darkgray;
    color: black;
}

.btn-addtask{
    border: none;
    background: palegreen;
    float: right;
    margin-left: 35px;
    margin: auto;
    box-shadow: 1px 1px green;
    padding: 3px;
    font-size: 1.0rem;
    font-weight: 600;
}

.btn-addtask:hover{
    cursor: pointer;
}
.btn-finishtask{
    border: none;
    background: palegreen;
    margin-left: 35px;
    margin: auto;
    box-shadow: 1px 1px green;
    padding: 3px;
    font-size: 1.0rem;
    font-weight: 600;
    border-radius: 8%;
}

.row{
    padding: 5px;
    margin: auto;

}

.newtask{
    margin: auto;
    border-radius: 8%;
    width: 400px;
}

.logout{
    border: none;
    border-radius: 8%;
    font-weight: bold;
    background: gray;
    padding: 4px;
    float: right;
    margin-left: 15px;
    margin-top: 0px;
}

.logout:hover{
    background: white;
    cursor: pointer;
}

.task{
    border: 1px solid black;
    border-radius: 2%;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

.task span{
    text-align: center;
    font-size: 2.0rem;
    font-weight: bold;
    text-decoration: underline;
}

.task ul {
    padding: 0px;
    list-style-type: none;
    border: solid 1px black;
    border-radius: 2%;
    padding: 8px;
    background-color: var(--text-primary);
}

.task ul:hover{
    background-color: lightblue;
    cursor: pointer;
}

.todo{
    display: inline-block;
    width: 49%;
    align-content: space-between;
}

.todo ul li{
    border: thin black;
}

.task li{
    padding: 0px;
}

.done{
    display: inline-block;
    width: 49%;
    align-content: space-around;
}

.task li label{
    display: block;
    align-content: space-around;
}

.task li a{
    float: right;
    padding: 3px;
}
