<div class="login">
<form action="/user/login" method="POST">
<img src="/../img/login_top.png" class="img_login_top">
<div class="login_form">
    <img src="/../img/login_top.png" width="16px"><label class ="login_form" for="user">Usuário:</label>
    <input type="text" id="user" name="user" placeholder="Usuário..."required>
<img src="/../img/password.png" width="17px"><label for="passwor"> Senha:</label>
    <input type="password" id="password" name="password" placeholder="Senha..." required>
<button type="submit" class="btn_login">Logar <img src="/../img/login.png" class ="login_img"width="13px"></button>

</form>
</div>
</div>