<form action="/user/register/new" method="POST">

<label for="user">Usuário:</label>
    <input type="text" id="user" name="user" placeholder="Usuário">

<label for="password">Senha:</label>
    <input type="password" name="password" id="password" placeholder="Senha...">

<label for="password2">Confirme sua senha:</label>
    <input type="password" name="password2" id="password2" placeholder="Confirme sua senha...">

<label for="email">Email:</label>
    <input type="email" name="email" id="email">

<label for="email2">Confirme seu e-mail:</label>
    <input type="email" name="email2" id="email2">

<label for="name">Nome:</label>
    <input type="text" name="name" id="name">

<label for="middlename">Nome do meio:</label>
    <input type="text" name="middlename" id="middlename">

<label for="lastname">Ultimo nome:</label>
    <input type="text" name="lastname" id="lastname">

<button class="btn-register" type="submit">Finalizar</button>

</form>