{{#if user}}

{{else}}
<center><img src="/../img/img-register.png"></center>
<center><h2>Faça <a class = "user-register"href="/user/login"><strong>login</strong></a> para visualizar seu perfil ou <a class="user-register"href="/user/register"><strong>cadastre-se</strong></a>.</h2></center>

{{/if}}